<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>teste</title>
    <script src="~/Resources/js/jquery-1.11.1.js"></script>
    <script src="~/Resources/js/bootstrap.js"></script>
    <link href="~/Resources/css/bootstrap.css" rel="stylesheet" />

    <script type="text/javascript">

    </script>
</head>
<body>
    <form action="http://psiconsultas/lbweb/apps/LOCALHOST/DEFUDB/PSIDOCS/navegacao.lbsp">
        <input type="hidden" name="LBWCGI_OPENSESSION" value="Ok">
        <input type="hidden" name="LBWCGI_SERVERNAME" value="LOCALHOST">
        <input type="hidden" name="LBWCGI_UDBNAME" value="DEFUDB">
        <input type="hidden" name="LBWCGI_BASENAME" value="PSIDOCS">
        <input type="hidden" name="LBWCGI_USERNAME" value="lbw" />
        <input type="hidden" name="LBWCGI_PASSWORD" value="lbw" />
        <input type="hidden" name="LBWCGI_ALLRECORDS" value="Ok" />
        <input type="submit" value="Todos" />
    </form>
</body>
</html>
